* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
}

.een {
  background-color: yellow;
}
.twee {
  background-color: red;
}
.drie {
  background-color: blue;
}
.vier {
  background-color: green;
}
.vijf {
  background-color: white;
}
.zes {
  background-color: purple;
}
.zeven {
  background-color: gray;
}
.acht {
  background-color: pink;
}
.negen {
  background-color: orange;
}
.tr,
th {
  padding: 110px;
  padding-left: 240px;
  padding-right: 255px;
}
