* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 50%;
}

h6 {
  font-size: 100%;
}
.sahbi {
  font-size: 19px;
}
