* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
h1,
h5,
h4 {
  color: green;
}
h2 {
  color: blue;
}
h3 {
  color: red;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 125px;
}
p {
  color: green;
}
.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.main {
  width: 75%;
  float: left;
  padding-right: 30px;
  position: relative;
}
.text2 {
  width: 25%;
  float: left;
}
