* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.bg {
  /* Full height */
  height: 32%;
  width: 30%;

  /* Center and scale the image nicely */
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.gs {
  /* Full height */
  height: 32%;
  width: 30%;

  /* Center and scale the image nicely */
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.noob {
  height: 100%;
  width: 30%;
  transition: 2s;
  /* Center and scale the image nicely */
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.noob img {
  display: block;
  border-radius: 5px;
}
.noob:hover {
  transform: scale(1.7);
  z-index: 2;
}
