* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(images/Tijgerc.jpg);
  height: 50vh;
  background-size: cover;
  background-position: top;
}

.row {
  text-align: center;
}
.contact {
  text-align: center;
  text-decoration: underline orange;
  font-size: 25px;
}
