* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.div1,
.div2 {
  color: orange;
  letter-spacing: 1cm;
}
.div1 {
  width: 50%;
  float: left;
}
.div2 {
  width: 50%;
  float: right;
}
.doneer,
.bescherm {
  text-align: center;
  font-size: 40px;
}
.text1,
.text2 {
  font-size: 20px;
}
